<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Логирование в файл -->
		<target xsi:type="File" name="fileTarget"
				fileName="logs/logfile_${shortdate}.log"
				layout="${longdate} ${level} ${message} ${exception:format=toString}"/>

		<!-- Логирование в базу данных 
		<target xsi:type="Database" name="databaseTarget"
				connectionString="Data Source=recruitment.db;Version=3;"
				commandText="INSERT INTO Logs (Date, Level, Message, Exception) VALUES (@time_stamp, @level, @message, @exception)">
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=toString}" />
		</target>-->
	</targets>

	<rules>
		<!-- Логирование уровня Debug и выше в файл -->
		<logger name="*" minlevel="Debug" writeTo="fileTarget" />

		<!-- Логирование уровня Error и выше в базу данных 
		<logger name="*" minlevel="Error" writeTo="databaseTarget" />-->
	</rules>
</nlog>